body {
    background-image: url("./images/1.jpg");
    background-size: cover;
    background-position: center; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.texto {
    width: 676px;
    margin-top: 252px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

button {
    background-color: #06040A;
    width: 222px;
    height: 66px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 22px;
    border: none;
    cursor: pointer;
}