.cuadro {
    border: 0px;
    border-radius: 16px;
    width: 412px;
    height: 232px;
    background-color: rgb(255, 255, 255, 0.32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 54px;
    box-sizing: border-box;
    gap: 20px;
    margin-bottom: 40px;
}

.cuadro2 {
    width: 684px;
    height: 454px;
    margin-top: 170px;
    margin-left: 65px;
    gap: 24px;
}

.linea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1284px;
    height: 232px;
    margin-top: 228px;
    margin-left: 64px;
    gap: 24px;
}

body {
    width: 1440px;
    height: 1024px;
    background-color: #0D0F1B;
    color: white;
    font-family: Lato;
    background-image: url(images/1.jpg);
    background-size: cover;
}

h1 {
    font-size: 88px;
    line-height: 100%;
}

h2 {
    font-size: 32px;
    margin: 0px;
    width: 38px;
    height: 32px;
}

p {
    font-size: 24px;
    margin: 0px;
    width: 305px;
    height: 96px;
}

button {
    width: 216px;
    height: 66px;
    gap: 10px;
    border-radius: 16px;
    font-size: 24px;
    margin-top: 24px;
}

.texto {
    width: 568px;
    height: 128px;
}