body {
  background-color: rgb(22, 0, 73);
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 5px solid white;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.contenedor {
  background-color: black;
  border: 3px solid white;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.naranja {
  color: white;
  font-size: 22px;
}

.contenedor img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}