.texto {
  width: 400px;
  height: 100px;
  font-size: 23px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

.texto p {
  color: #777777;
}

.texto h2 {
  color : #969696;
}

.container2 {
  height: 999px;
  width: 1440px;
  display: flex;
  flex-wrap: wrap-reverse;
  border: 2px solid #000000;
  margin: 50px 100px 100px 100px;
  background-color: white;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 100px;
}


.botones {
  font-size:18px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: gray;
  display: flex;
  justify-content: center;
}