body {
    font-family: "Lexend Deca", sans-serif;
    width: 1440px;
    height: 1204px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: #252525;
    align-items: center;
}

.contenedor {
    border: 1px solid black;
}

h1 {
    font-size: 88px;
    width: 674px;
    height: 80px;
}

p {
    font-size: 26px;
    width: 526px;
    height: 108px;
    align-content: center;
    margin-top: 60px;
    font-family: "Montserrat";
}

img {
    width: 1313px;
    height: 732px;
    align-content: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

button {
    margin-left: 850px;
    color: white;
    background-color: #252525;
    border-radius: 16px;
    width: 157px;
    height: 50px;
    border-color: #252525;
    margin-bottom: 130px;
    font-size: 16px;
    font-family: "Montserrat";
}