body {
    font-family: "Lexend Deca", sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.blanco {
    background-color: white;
    width: 1440px;
    height: 1024px;
}

.container {
    width: 1440px;
    height: 1536px;
    border: 1px solid #000000;
    font-family: lato, sans-serif;
    color: white;
}

.container1 {
    background-image: url(images/1.jpg);
    width: 1440px;
    height: 1012px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.container1 h1 {
    margin: 0;
    font-size: 96px;
    padding-top: 330px;
}

.container1 p {
    font-size: 26px;
    width: 549px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.container1 button {
    font-size: 26px;
    width: 175px;
    height: 66px;
    border-radius: 30px;
    margin: 20px auto 0 auto;
    text-align: center;
    color: #000000;
}


.container2 {
    display: flex;
}

.container2 h2{
    font-size: 32px;
    margin: 0;
    padding: 0 20px 0 40px;
}

.container2 p{
    font-size: 24px;
    margin: 0;
    padding: 10px 20px 10px 40px;
}

.izquierda {
    background-image: url(images/2.jpg);
    width: 480px;
    height: 524px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centro {
    background-image: url(images/3.jpg);
    width: 480px;
    height: 524px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.derecha {
    background-image: url(images/4.jpg);
    width: 480px;
    height: 524px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.izquierda, .centro, .derecha {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}